* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.background {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 1.5s;
    
}


.hide-bg {
    filter: blur(5px);
}

.inner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    z-index: 2;
    margin: 0;
    filter: blur(0px);
    color: aliceblue;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 1.5s;
}

.show-text {
    filter:blur(5px);
}

a {
    color: aliceblue;
    text-decoration: inherit;
    
}

a:hover {
    cursor: pointer;
}

.inner h3 {
    text-shadow: 2px 2px 5px black;
    margin-top: 0;
    margin-bottom: 12px;
}

.inner a:first-child{
    margin-top: 80px;
}

.hide-pointer {
    pointer-events: none;
}